python-dotenv==1.0.*
celery==5.3.*
mediacloud==4.1.*
dateparser==1.2.*
scikit-learn==1.0.2  # freeze this here for model serialization compatability
sentry-sdk[flask]==1.40.*
tensorflow-hub==0.*
tensorflow-text==2.*
tensorflow==2.10.*  # freeze here due to cross-platform install challenges
psycopg2==2.9.*
SQLAlchemy==2.0.*
alembic==1.13.*
python-dateutil==2.8.*
amqp==5.2.*
feedparser==6.0.*
mediacloud-metadata>=0.11.*
newscatcherapi==0.7.*
slack_sdk==3.27.*
slack-bolt==1.18.*
scrapy==2.11.*
mc-providers==2.0.*
numpy==1.23.* # freeze this here for tensorflow compatibility

